<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lingsatuo.dumpmusic">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" ></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/luncher"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/luncher"
        android:supportsRtl="true"
        android:name="com.ApplicationExc.ApplictionLoader"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
        android:name="PGYER_APPID"
        android:value="086fcac113b483186bbcf7b5c2937416" >
    </meta-data>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.lingsatuo.Service.Player"
            android:label="Dump Music"/>
        <activity android:name=".SecondActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode = "adjustNothing"
            />

        <activity android:name="com.ApplicationExc.BugActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode = "adjustNothing"
            />

        <activity android:name=".ThirdActivity"
            android:label="合成器"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode = "adjustNothing"
            />
    </application>

</manifest>